<ul>
	<div>
		<form method="get">
			<input type="text" name="search" placeholder="Search..">
			<button type="submit" class="btn btn-primary" action="/movies">Search</button>
		</form>
	</div>
	{%for movie in movies %}
		<li>
			<div>
				<h1>
					{{movie.title}}
				</h1>
			</div>
			<div>
				<b>Description:
				</b>
				{{movie.description | replace ({'<p>':'', '</p>':''})}}
			</div>
			<div>
				<b>Image:
				</b>
				<img src="{{ file_url(movie.image) }}"/>
			</div>
		</li>
	{% endfor %}
	<div>
		{{ searchString }}
	</div>
</ul>
